.social-icons a,
.social-icons svg {
  display: inline-block;
  height: 3.5rem;
  width: 3.5rem;
  text-align: center;
  font-size: 1.5rem;
  line-height: 3.5rem;
  margin-right: 1rem;
}
.social-icons,
.social-icons a:last-child {
  margin-right: 0;
}

svg:hover {
  fill: rgba(128, 0, 0, 0.8);
}

a {
  color: rgba(128, 0, 0, 0.8);
}

a:hover, a:focus, a:active {
  color: rgba(218, 0, 0, 0.8);
}

nav {
  color: rgba(43, 43, 43, 0.8);
  font-weight: 800;
  letter-spacing: 0.05rem;
  text-transform: uppercase;

  /* navabr right border against menu links */
  border-right: 1px solid rgba(128, 0, 0, 0.8);
}

/* border around navbar item when hovered on */
nav a:hover {
  border-left: 5px solid rgba(128, 0, 0, 0.8);
}