#projects {
  background-color: black;
}

#projects .subheading {
  color: white;
}

#projects > div {
  margin-bottom: 10px;
}

/* Project grid */
#projects > section {
  margin-top: 100px;
  border-radius: 1.5%;
  background-color: white;
  width: 700px;
  justify-content: flex-end;
  border: 2px solid grey;
  flex-wrap: wrap;
}

/* Project block */
.project-entry {
  display: block;
  width: 150px;
  height: 150px;
  border-radius: 10%;
  border: 5px solid white;
  background-color: red;
}